{% extends 'todo/base.html' %}


{% block content %}
<!-- <h3>Todo List</h3>
<hr>
{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <p>
        <a href="{% url 'todo:logout' %}">Logout</a>
    </p>
{% endif %}
<hr>
<p><a href="{% url 'todo:todo_create' %}">Add todo</a></p> -->





<div class="todo-container">
{% for todo in todo_list %}
    {% if todo.complete == False %}
<div class="card w-50 mx-auto bg-warning" style="margin:20px">
    <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">
        {{ todo.description|truncatechars:100}}
        </p>
        <p>
            <i class="text-muted">Last updated at {{ todo.modified }}</i>
        </p>
        <a href="{% url 'todo:todo_edit' todo.id %}" class="btn btn-primary">View</a>
    </div>
    </div> 
{% else %} 
<div class="card w-50 mx-auto bg-info" style="margin:20px">
    <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">
        {{ todo.description|truncatechars:100}}
        </p>
        <p>
            <i class="text-muted">Last updated at {{ todo.modified }}</i>
            <!-- text-muted -->
        </p>
        <a href="{% url 'todo:todo_edit' todo.id %}" class="btn btn-primary">View</a>
    </div>
    </div> 
    {% endif %}
{% endfor %}
</div>

<style>
    body {
        /* background-color: rgb(34, 29, 29); */
    }
</style>

{% endblock %}


