{% extends 'todo/base.html' %}


{% block content %}

<div class="todo-container">
{% for todo in todo_list %}
    {% if todo.complete == False %}
<div class="card  mx-auto bg-warning" style="margin:20px">
    <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">
        {{ todo.description|truncatechars:100}}
        </p>
        <p>
            <i class="text-muted">Last updated at {{ todo.modified }}</i>
        </p>
        <a href="{% url 'todo:todo_edit' todo.id %}" class="btn btn-primary">View</a>
    </div>
    </div> 
{% else %} 
<div class="card  mx-auto bg-info" style="margin:20px">
    <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">
        {{ todo.description|truncatechars:100}}
        </p>
        <p>
            <i class="text-muted">Last updated at {{ todo.modified }}</i>
            <!-- text-muted -->
        </p>
        <a href="{% url 'todo:todo_edit' todo.id %}" class="btn btn-primary">View</a>
    </div>
    </div> 
    {% endif %}
{% endfor %}
</div>

<style>
    body {
        /* background-color: rgb(34, 29, 29); */
    }

    .card {
        width: 90%;
    }

    @media only screen and (max-width: 1000px) {
    .card {
        width: 55%;
    }
}


    @media only screen and (max-width: 800px) {
    .card {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 95%;
    }
}



@media only screen and (min-width: 1000px) {
    .card {
        width: 50%;
    }
}

</style>

{% endblock %}


