
<h3>Todo List</h3>
<hr>
{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <p>
        <a href="{% url 'todo:logout' %}">Logout</a>
    </p>
{% endif %}
<hr>
<p><a href="{% url 'todo:todo_create' %}">Add todo</a></p>

{% for todo in todo_list %}
<table>
    <tr>
        <td>
            <a href="{% url 'todo:todo_detail' todo.id %}">{{ todo.title }}</a>
        </td>
        <td>
            <a href="{% url 'todo:todo_edit' todo.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'todo:todo_delete' todo.id %}">Delete</a>
        </td>
    </tr>
</table>
{% endfor %}


