
.todo-content {
    border: 2px solid black;
    margin-top: 15px;
    width: 60%;
    min-height: 100px;
    hyphens: auto;
    word-wrap: break-word;
}

a {
    color: white;
    text-decoration: none;
}

#id_title {
    width: 100%;
    text-align: center;
}

#id_description {
    width: 100%;
}