{% extends 'todo/base.html' %}


{% block content %}


 <div class="card mx-auto bg-dark text-white">
        <h5>update todo</h5>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" class="btn btn-primary btn-lg">

            <p class="btn btn-danger btn-lg text-light">
                <a href="{% url 'todo:todo_delete' todo.id %}">Delete</a>
            </p>

        </form>   
    </div>
</div>   

<style>

 input[type=text], textarea {
    background-color: white;
 }

    .btn-danger {
        position: absolute;
        right: 20px;

    }

    .btn-danger a {
        color: white;
        text-decoration: none;
    }



</style>

{% endblock %}

