{% extends 'todo/base.html' %}


{% block content %}


<div class="card mx-auto bg-dark text-white" style="margin:20px">
<h5>create todo</h5>
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-primary btn-lg">

    </form>   
</div>
</div>   

<style>

#id_title, textarea {
   background: white;
}

/* media queries  */
/* .card {
            width: 90%;
            margin-top: 20px;
        }

    @media only screen and (max-width: 1000px) {
    .card {
        width: 75%;
    }
}

    @media only screen and (max-width: 800px) {
    .card {
        width: 75%;
    }
}

    @media only screen and (max-width: 700px) {
        .card {
            width: 95%;
        }
    }



    @media only screen and (min-width: 1000px) {
        .card {
            width: 50%;
        }
    }
    */
</style>

{% endblock %}
