{% extends 'todo/base.html' %}

{% block content %}
<div class="card w-75 mx-auto bg-warning" style="margin:20px">
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ todo }}" </p>
        <input type="submit" value="yes" class="btn btn-danger btn-lg">
    </form> 
    <p class="btn btn-success btn-lg">
        <a href="{% url 'todo:todo_edit' todo.id %}">No</a>
    </p>  
</div>
</div>  

<style>
    p.btn-success {
       margin-top: 20px;

    }
    
   .btn-success a {
        color: white;
        text-decoration: none;
    }
</style>
{% endblock %}
